{% extends 'teacher_nav.html' %}
{% block title %}
    LMS - Profile
{% endblock title %}
    

{% block body_content %}

<style>

    .contact-wrap h2{
      text-align: center;
      margin-bottom: 20px;
    }
        .form-control{
          height: 40px;
          padding: 25px;
          margin-bottom: 20px;
  
        }
        
        button{
          padding:20px;
          width:50%;
          display: flex;
          margin:0 auto;
          justify-content: center;
          background: #4199fe;
          border: none;
          color:whitesmoke;
          font-size: 22px;
        }
  
  
        @media screen and (min-width: 768px) {
          .contact-wrap{
            max-width: 800px;
  
      margin:0 auto;
    }
     
    }
    
  
  </style>
<body>
    {% load crispy_forms_filters %} 

    <section class="contact-wrap">
        <h2> Creat new Lesson </h2>
        <form  class="contact-form" method="POST" class="create-quiz-form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-sm-6">
            <div class="input-block">
              <label for=""> Title </label>
              {{ form.Title }}</div>
          </div>
          <div class="col-sm-6">
            <div class="input-block">
              <label for=""> Vide URL </label>
              {{ form.Video_URL }}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-block">
              <label for=""> Image </label>
              {{ form.Image }}
          </div>
          </div>
          <div class="col-sm-6">
            <div class="input-block">
              <label for=""> Video </label>
              {{ form.Video }}
            </div>
          </div>
          <div class="col-lg-12">
            <div class="input-block">
                <label for=""> Body </label>
                {{ form.media }}
                {{ form.Body }}
            </div>
          </div>
              <button type="submit" class="square-button">Send</button>
        </form>
      </section>


{% endblock body_content %}