{% extends 'student_nav.html' %}
{% block title %}
    LMS - Profile
{% endblock title %}
    

{% block body_content %}




<body>
  {% load crispy_forms_filters %} 

  <div class="lesson mt-5"> 
  <h2> Get Multiple Choice Question </h2>
        <form method="POST">
          {% csrf_token %}
          {% for q in Get_Multiple_Choice %} 
          <div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>

           <p><strong> Question :  </strong>{{q.Question}} (marks of {{q.Marks}}) </p> 
           <input  type="radio"  name="{{q.Question}}" value="{{q.Option1}}">
           <label >
               {{q.Option1}}
           </label>            
           <input type="radio"name="{{q.Question}}" value="{{q.Option2}}">
           <label >
               {{q.Option2}}
           </label>

            {% endfor %}
            <input id='timer' type="hidden" name="timer" value="">

            <button type="submit"> Submit </button>

      </form>
    </div>

    <script>
 


      console.log('hello world')
      const timer=document.getElementById('displaytimer')
      console.log(timer.textContent)
      const inputtag = document.getElementById('timer')

      t=0
      setInterval(()=>{
          t+=1
          timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
          inputtag.value = t
      },1000)



  </script>
{% endblock body_content %}
