
  {% extends 'teacher_nav.html' %}
  {% load crispy_forms_filters %} 

  {% block body_content %}
  <style>
    .login-page {
        height: 90vh;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .form {
      position: relative;
      filter:drop-shadow(0 0 2px #000000);
      border-radius: 5px;
      width: 360px;
      height: 420px;
      background-color: #ffffff;
      padding:40px;
    }
    
    
    .form input {
        outline: 0;
        background: #f2f2f2;
        border-radius: 4px;
        width: 100%;
        border: 0;
        margin: 15px 0;
        padding: 15px;
        font-size: 14px;
    }
    
    .form input:focus {
        box-shadow: 0 0 5px 0 rgba(106, 98, 210);
    }
    
    span {
        color: red;
        margin: 10px 0;
        font-size: 14px;
    }
    
    .form button {
        outline: 0;
        background: #6a62d2;
        width: 100%;
        border: 0;
        margin-top: 10px;
        border-radius: 3px;
        padding: 15px;
        color: #FFFFFF;
        font-size: 15px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
    }
    
    .form button:hover,
    .form button:active,
    .form button:focus {
        background: black;
        color: #fff;
    
    }
    
    .message{
        margin: 15px 0;
        text-align: center;
    
    }
    .form .message a {
        font-size: 14px;
        color: #6a62d2;
        text-decoration: none;
    }
    
    </style>
   
   <div class="login-page">
      <div class="form">
    <h2> Register  </h2>
        <form method="POST" enctype="multipart/form-data">
    
            {% csrf_token %}
                  <input type="text" name= "username"  class="form-control"  placeholder="Username" >
                  <input type="email"  class="form-control" name= "email" placeholder="Email" >
                  <input type="password" name= "password"  class="form-control" placeholder="Password">
                
                Already have Account?<a href="{% url 'teacher:teacher_login' %}"> Login  </a>
                    <button type="submit"> Submit </button>
        </form>
        </div>
        </div>
      

   

    {% endblock body_content %}
    



